

.container{
    background-image: url('https://img.freepik.com/free-vector/black-background-with-podium-golden-circle_1017-31891.jpg?w=900');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    
}

.container1{
    background-color: antiquewhite;
    height: 100vh;
}


p{
    color: red;
    top: 2%;
    position: absolute;
    margin-left: 60%;
    font-size: 20px;
}

nav ul li{
cursor: pointer;
color: burlywood;

}

ul li a{
    text-decoration: none;
    color: burlywood;
}

.link{
    top: 20%;
    position: absolute;
    height: 30vh;
    width: 80vw;
    background-color: antiquewhite;
    border-radius: 20px;
}

h4 a{
    color: red;
    text-decoration: none;
    
}

h4{
    margin-right: 10%;
}